body {
    outline: 1px solid red;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    height:1000px;
}
.fotki {
  outline: 1px solid blue;
  display: flex;
  flex-wrap: wrap;
  box-shadow: inset 0 0 1em gold, 0 0 1em red;
}
.fotki__img {
    width: 100px;
    cursor: pointer;
    padding: 5px;
}
#div {
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 1000;
    display: block;
}
#okno {
    position: absolute;
    z-index: 1001;
    text-align: center;
}

@keyframes animacja {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 0.5;
      }
}
@keyframes animacja2 {
      0% {
        opacity: 0.5;
      }
      100% {
        opacity: 0;
      }
}	